---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 30%;
}

body {
  background: $white;
  font: 17px/1.4 $helvetica;
  color: $lighterThanDarkGray;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  // font-weight: bold;

  line-height: 1.7;
  // margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 38px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active {
    color: $darkerGray;
    text-decoration: underline;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 2px;
}

.masthead {
  padding: 10px 0;
  border-bottom: 0px solid $lightGray;

  @include mobile {
    // text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;
  width: 100%;
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 0px;
  float: left;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;
  float: left;

  // @include mobile {
  //   margin: 3px 0;
  // }
}

nav {
  float: none;
  margin-top: auto; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 12px;
  display: block;
  @include mobile {
    // font-size: 16px;
  }

  a {
    margin-left: 10px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 0px;

    // @include mobile {
    //   margin: 0 10px;
    //   // color: $blue;
    // }
  }
  a:first-child {
    margin-left: 0;
  }
}

//
// .main
//

.posts > .post:first-child {
  padding-top: 1em;
}
.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

img.cover {
  width: 60%;
  height: auto;
  float: left;
  @include mobile {
    width: 100%;
  }
}

p.title {
  margin-bottom: 10%;
  @include mobile {
    margin-left: 0;
    margin-top: 80%;
  }
}

ul.affiliations {
  list-style-type: none;
  div {
    text-align: center;
    @include mobile {
      text-align: left;
    }
  }
  img {
    width: 10%;
    height: auto;
    @include mobile {
      width: 12%;
      height: auto;
    }
  }
  li {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    :first-child {
      margin-top: 0px;
    }
    @include mobile {
      display: inline-block;
    }
  }
  @include mobile {
    padding-left: 0%;
  }
}

hr {
  width: 100%;
  height: 1px;
  border: 1px solid $darkerThanLightGray;
}
hr.top {
  border: 1px solid $blue;
}

nav.upper {
  font-size: 18px;
  float: right;
  margin-top: 23px;
}

figcaption {
  font-size: 8px;
  text-align: center;
}

a.paper {
  font-size: 12px;
  color: $blue;
  text-decoration: none;
  background-color: #eeeeee;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  margin-right: 5px;
  &:hover,
  &:active {
    font-size: 13px;
    color: #0000ee;
  }
}

a.code {
  font-size: 12px;
  color: $blue;
  text-decoration: none;
  background-color: #eeeeee;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  margin-right: 5px;
  &:hover,
  &:active {
    font-size: 13px;
    color: #0000ee;
  }
}

code {
  font-size: 15px;
}

div.highlight {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 0px;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
}
pre.highlight {
  overflow: auto;
  width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
  box-shadow: none;
}
div.wrapper-masthead {
  img {
    width: 20px;
    height: auto;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
